<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main>
        <div class="mt-5 d-flex justify-content-center">
            <form class="form mt-5 d-flex justify-content-between w-50" th:action="@{/all}" th:method="get">
                <div class="form-group w-75">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input name="name" class="form-control form-control-sm ml-3 w-75 py-2" type="text"
                           placeholder="Search"
                           aria-label="Search">
                </div>
                <div class="button-holder d-flex justify-content-center w-25">
                    <button type="submit" class="btn bg-hero glow-button">Search...</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>